.sk {
    width: 71px;
    height: 29px;
    position: absolute;
    left: 190px;
    top: 40px;
    border-left: 1px solid #c81523;
  padding: 3px 0 0 14px;
}
.sk_miaosha{
    float: left;
    width: 372px;
}
.sk_miaosha li {
    float: left;
    font-size: 16px;
    font-weight: 700;
    margin: 0 20px;
}
.sk_fenlei{
    float: left;
    width: 652px;

}
.sk_fenlei li {
    float: left;
    font-size: 14px;
    margin: 0 20px;
}
.sk_fenlei li:last-child::after {
content: '\e91e';
font-family: 'icomoon';
}
.sk_img {
    height: 120px;
}
.sk_img img {
    height: 100%;
    width: 100%;
}

.sk_bd ul li {
    overflow: hidden;
    width: 290px;
    height: 458px;
    float: left;
    margin-right: 13px;
    border:1px solid transparent ;
}
.sk_bd ul li:nth-child(4n) {
    margin-right: 0px;
}
.sk_bd ul li:hover{
    border: 1px solid #c81523;
}